@charset "utf-8";

/*----- 메인슬라이드 추천BJ -----*/
.badge__recomend {display:block; width:48px; height:19px; line-height:19px; color:#fff; font-size:11px; font-weight:500; text-align:center; background: linear-gradient(to right, #ff6464 0%,#ff3b84 100%);}
/*----- 썸네일 뱃지 -----*/
.badge__thumbnail {position:absolute; top:0; left:0; z-index: 2; display:block; color:#fff; font-size:11px; font-weight:500; text-align:center; border-radius: 0 0 10px 0;}
/* 라이브 */
.badge__thumbnail-live {width:36px; height:19px; line-height:19px; letter-spacing:0.5px; background: linear-gradient(to right, #9487FE 0%,#34E1D8 100%);}
/* 테이프 */
.badge__thumbnail-tape {width:38px; height:19px; line-height:19px; background: linear-gradient(to right, #FF367B 0%,#FFAF87 100%);}
/* 팬 */
.badge__thumbnail-fan {width:36px; height:19px; line-height:19px; background: linear-gradient(to right, #8F6DFF 0%,#F36AFF 100%);}
/* 추천BJ */
.badge__thumbnail-recommend {width:43px; height:19px; line-height:19px; background: linear-gradient(to right, #ff6464 0%,#ff3b84 100%);}
/*----- live 리스트 주제 태그 -----*/
.badge__tag {position: relative; display:inline-block; width:auto; height:16px; line-height:14px; color:#9B99F1; font-size:11px; font-weight:500; vertical-align:1.5px; margin-right:4px; padding:0 5px; border:1px solid #9B99F1; border-radius:8px; box-sizing:border-box;}

/*----- mypage 레벨 뱃지 -----*/
.badge_level {width:57px;height:20px;line-height:19px;font-size:13px;letter-spacing:-.5px;margin:0 auto;border-radius:100px;color:#fff;}
.badge_level--1th {background:linear-gradient(to right,#FFDF56,#FFD31A);}/* 정확한 컬러 정해지지 않음, 수정 필요 */
.badge_level--2th {background:linear-gradient(to right,#FFDF56,#FFD31A);}
.badge_level--3th {background:linear-gradient(to right,#8DB1E7,#476DA5);}
.badge_level--4th {background:linear-gradient(to right,#FFDF56,#FFD31A);}/* 정확한 컬러 정해지지 않음, 수정 필요 */
.badge_level--5th {background:linear-gradient(to right,#FFDF56,#FFD31A);}/* 정확한 컬러 정해지지 않음, 수정 필요 */

/*----- myprofile 뱃지 -----*/
.badge_recomend--profile {position:absolute;top:17px;left:20px;display:block; width:52px; height:22px; line-height:22px; color:#fff; font-size:12px; font-weight:500; text-align:center; border-radius:100px; background:#FF6161;}
/* myprofile 레벨 뱃지 */
.badge_level--1th_circle {background:linear-gradient(to right,#FFF1B6,#FFE576);}/* 정확한 컬러 정해지지 않음, 수정 필요 */
.badge_level--2th_circle {background:linear-gradient(to right,#FFF1B6,#FFE576);}
.badge_level--3th_circle {background:linear-gradient(to right,#8DB1E7,#476DA5);}
.badge_level--4th_circle {background:linear-gradient(to right,#FFF1B6,#FFE576);}/* 정확한 컬러 정해지지 않음, 수정 필요 */
.badge_level--5th_circle {background:linear-gradient(to right,#FFF1B6,#FFE576);}/* 정확한 컬러 정해지지 않음, 수정 필요 */

.badge_level--1th_img {position:absolute;bottom:-5px;left:50%;transform:translateX(-50%);display:block;width:86px;height:31px;background:url("../imgs/level_img--1th.png");background-size:cover;}/* 정확한 이미지 정해지지 않음, 수정 필요 */
.badge_level--2th_img {position:absolute;bottom:-5px;left:50%;transform:translateX(-50%);display:block;width:86px;height:31px;background:url("../imgs/level_img--2th.png");background-size:cover;}
.badge_level--3th_img {position:absolute;bottom:-8px;left:50%;transform:translateX(-50%);display:block;width:84px;height:38px;background:url("../imgs/level_img--3th.png");background-size:cover;}
.badge_level--4th_img {position:absolute;bottom:-5px;left:50%;transform:translateX(-50%);display:block;width:86px;height:31px;background:url("../imgs/level_img--4th.png");background-size:cover;}/* 정확한 이미지 정해지지 않음, 수정 필요 */
.badge_level--5th_img {position:absolute;bottom:-5px;left:50%;transform:translateX(-50%);display:block;width:86px;height:31px;background:url("../imgs/level_img--5th.png");background-size:cover;}/* 정확한 이미지 정해지지 않음, 수정 필요 */