@charset "utf-8";

.banner {width:100%; height:auto; line-height:0; font-size:0; text-align:center; border-top:5px solid #E4E4E4; border-bottom:5px solid #E4E4E4;}
.banner__img {width:100%; height:auto;}